<h2>Game Design</h2>

<p>I had two main approaches to design the game and had to choose one. </p>

<p>
  The first approach was to use a well known algorithm: MinMax as described in Wikipedia
  and various sources. This approach tries to predict all the possible winning moves, and
  then the computer can calculate the best move. However, one of the drawbacks of using MinMax was that it didn't always work,
  the computer would have to make the best guess.  It is also a complex algorithm that would take more than a few days to figure
  out how to best implement it with code.</p>

<p>The other approach was more reasonable given the time, and may have a better success rate. This approach assumes that the grid size
  would always have the same number of rows and columns. The logic can be broken down into 3 main steps.</p>
<ol>
  <li>Is the computers next move a winning move? If yes, then make that move and win the game.</li>
  <li>Is the Human's next move a winning move? If yes, then block it.</li>
  <li>If none of above apply, then calculate best move.</li>
</ol>

<p> when I got to the 3rd item, I knew deciding the best move was not going to work if I just went through all cells and found the
  first one that was empty and put the Computer's "X" there. No, it had to be smarter than that. I googled around and read about
  tic-tac-toe strategies and found some basic ones that would ensure that the Computer always wins or draws. The easist basic strategies I found
  was <a href="https://www.quora.com/Is-there-a-way-to-never-lose-at-Tic-Tac-Toe">here</a></p>

<ol>
  <li>if opponent first move is O in a corner, then put X in the center.</li>
  <li> if opponent first move is O in an edge, then put X in corner next to O.</li>
  <li>if opponent first move is O in center, then put X in a corner.</li>
</ol>

<h2>Frameworks</h2>
<p> I used AngularJS to build this game and webpage. To scaffold the webpage, I used a Yeoman generator:
  <a href="https://github.com/yeoman/generator-angular#readme">https://github.com/yeoman/generator-angular#readme</a>. This generator
  scaffolds out the pages, so I could quickly focus more on the game design. To build, and display the page in development, I used Grunt.
  When using Grunt, it detects when any changes are made on any of the code, and will re-load the webpage in your browser on local-host.</p>
