
<h1>Welcome to Tic-Tac-Toe</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Instructions:</h2>
    <ul>
      <li>Human makes the first move</li>
      <li>Human is "X", Computer is "O"</li>
      <li>Select a cell for your first move.</li>
      <li> Have fun trying to beat the computer.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <!--<button class="resetBtn" ng-click="resetGame()"></button>-->
    <h2>Reset</h2>
    <button ng-click="resetGame()" style="background-color: green; padding: 2%">
      <img src="images/Reset Button.png" style="display:block; margin: auto;"></button>
  </div>
  <div class="col-md-4">
    <h2>Preview</h2>
    <table id="gameGrid" style="font-size: xx-large">
      <tr ng-repeat="row in grid">
        <td ng-repeat="col in row track by $index" ng-click="!isCellEnabled(col) || clickCell($index, $parent.$index)">
          {{col}}
        </td>
      </tr>
    </table>
    <h4 ng-show="gameOver && !draw" style="color: red"> You Lose</h4>
    <h4 ng-show="draw" style="color: red"> Draw</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-6"><h5>Computer: {{previousComputerMove}}</h5></div>
  <div class="col-md-6"><h5>Human: {{previousHumanMove}}</h5></div>
</div>

<div class=myDivBG style="width: 100%; height: 100%;">
  <div class="row" ng-show="draw">
    <img src="images/Draw Title.png" alt="Draw">
  </div>
  <div class="row" ng-show="gameOver && !draw">
    <img src="images/You Lose Title.png" alt="Lose">
  </div>
  <div class="row" style="height: 250px; width: 750px; padding-top: 40px" ng-repeat="row in grid" ng-hide="draw || gameOver">
    <div class="col-md-4" ng-repeat="col in row track by $index" ng-click="!isCellEnabled(col) || clickCell($index, $parent.$index)">
      <img src="images/X.png" alt="X" ng-show="showXimage(col)" style="margin: auto; display: block">
      <img src="images/O.png" alt="O" ng-show="showOimage(col)" style="margin: auto; display: block">
      <div style="background-color: #efefef; height: 180px; width: 195px" ng-show="showEmptyImage(col)" ng-hide="draw || gameOver"></div>
    </div>
  </div>
</div>
<br>
<br>


